.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #2130a9;
}

.errorTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.errorMessage {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
}

.retryButton {
    padding: 0.75rem 1.5rem;
    background-color: #2130a9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}